{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquiler de carros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "/css/index.css" %}'>
</head>
<body>
    <div class="row">
        <div class="card" id="bmw">
            <img src='{% static "C:\Users\sarit\OneDrive\Documentos\adso5\nur\django\carros1\carros1\carros1\static\img\bmw.jpg" %}' class="card-img-top" alt="..." id="img"> 
            <div class="card-body">
              <h5 class="card-title">BMW</h5>
              <p class="card-text">El Precio por día del Alquiler es de $650000</p>
              {% if carro == "bmw" %} 
              <style>#bmw{
                background-color: #006acd;
                }</style>
              {% if dia < 3 %}
                <h6 style="background-color: orange;">{{let}}</h6>
            {% elif dia >= 3 and dia <= 5 %}
              <h6 style="background-color: yellow;">{{let}}</h6>
          {% elif dia >= 6 and dia <= 10 %}
              <h6 style="background-color: green;">{{let}}</h6>
          {% elif dia > 10 %}  
              <h6 style="background-color: blue;">{{let}}</h6>  
          {% endif %}
          {% endif %}
            </div>
    </div>
    <div class="card">
        <img src='{% static "C:\Users\sarit\OneDrive\Documentos\adso5\nur\django\carros1\carros1\carros1\static\img\mercedes.jpg" %}' class="card-img-top" alt="..."  id="img">
        <div class="card-body" id="mercedes">
            <h5 class="card-title">Mercedes</h5>
            <p class="card-text">El Precio por día del Alquiler es de $120000</p>
            {% if carro == "mercedes" %} 
            <style>#mercedes{
                    background-color: #000000;
                } </style>
                {% if dia < 3 %}
            <h6 style="background-color: orange;">{{let}}</h6>
        {% elif dia >= 3 and dia <= 5 %}
            <h6 style="background-color: yellow;">{{let}}</h6>
        {% elif dia >= 6 and dia <= 10 %}
            <h6 style="background-color: green;">{{let}}</h6>
        {% elif dia > 10 %}  
            <h6 style="background-color: blue;">{{let}}</h6>  
        {% endif %}
        {% endif %}
        </div>
    </div>
    <div class="card" id="twingo">
        <img src='{% static "C:\Users\sarit\OneDrive\Documentos\adso5\nur\django\carros1\carros1\carros1\static\img\twingo.png" %}' class="card-img-top" alt="..."  id="img1">
        <div class="card-body">
            <h5 class="card-title">Twingo</h5>
            <p class="card-text">El Precio por día del Alquiler es de $100000</p>
            {% if carro == "twingo" %}    
            <style>#twingo{
                    background-color: #1e941e;
                }</style>
            {% if dia < 3 %}
            <h6 style="background-color: orange;">{{let}}</h6>
        {% elif dia >= 3 and dia <= 5 %}
            <h6 style="background-color: yellow;">{{let}}</h6>
        {% elif dia >= 6 and dia <= 10 %}
            <h6 style="background-color: green;">{{let}}</h6>
        {% elif dia > 10 %}  
            <h6 style="background-color: blue;">{{let}}</h6>  
        {% endif %}
        {% endif %}
        </div>
    </div>
    <div class="card" id="megane">
        <img src='{% static "C:\Users\sarit\OneDrive\Documentos\adso5\nur\django\carros1\carros1\carros1\static\img\megane.jpg" %}' class="card-img-top" alt="..."  id="img">
        <div class="card-body">
            <h5 class="card-title">Megane</h5>
            <p class="card-text">El Precio por día del Alquiler es de $700000</p>
            {% if carro == "megane" %}  
            <style>#megane{
                    background-color: #d70101;
                }</style>
            {% if dia < 3 %}
                <h6 style="background-color: orange;">{{let}}</h6>
            {% elif dia >= 3 and dia <= 5 %}
                <h6 style="background-color: yellow;">{{let}}</h6>
            {% elif dia >= 6 and dia <= 10 %}
                <h6 style="background-color: green;">{{let}}</h6>
            {% elif dia > 10 %}  
                <h6 style="background-color: blue;">{{let}}</h6>  
            {% endif %}
            {% endif %}
        </div>
</div>
    <div class="card" id="chevrolet">
        <img src='{% static "C:\Users\sarit\OneDrive\Documentos\adso5\nur\django\carros1\carros1\carros1\static\img\chevrolet.jpg" %}' class="card-img-top" alt="..."  id="img">
        <div class="card-body">
            <h5 class="card-title">Chevrolet</h5>
            <p class="card-text">El Precio por día del Alquiler es de $150000</p>
        {% if carro == "chevrolet" %}  
        <style>#chevrolet{
                background-color: #848484
            }</style>
            {% if dia < 3 %}
                <h6 style="background-color: orange;">{{let}}</h6>
            {% elif dia >= 3 and dia <= 5 %}
                <h6 style="background-color: yellow;">{{let}}</h6>
            {% elif dia >= 6 and dia <= 10 %}
                <h6 style="background-color: green;">{{let}}</h6>
            {% elif dia > 10 %}  
                <h6 style="background-color: blue;">{{let}}</h6>  
            {% endif %}    
            {% endif %} 
        </div>
    </div>
</div>
</body>
</html>